.chat_main
  .chat_main__group-info
    .chat_main__group-info__group
      .chat_main__group-info__group__name
        test
      .chat_main__group-info__group__member
        MEMBER: masa
    .chat_main__group-info__edit
      .chat_main__group-info__edit__link
      = link_to "#", class: "edit" do
        Edit
  .chat_main__message-list
    .chat_main__message-list__box
      .chat_main__message-list__box__name
        masa
      .chat_main__message-list__box__days
        2020/05/22(Fri) 18:18:03
    .chat_main__message-list__text
      おはよう！
    .chat_main__message-list__box
      .chat_main__message-list__box__name
        masa
      .chat_main__message-list__box__days
        2020/05/22(Fri) 18:18:03
    .chat_main__message-list__text
      おはよう！
  .chat_main__message-form
    %form.form__box     
      %input{placeholder: "type a message", class: "text"}
      %label{class: "text__file"} 
        =icon('far', 'image')
        %input{type: "file", class: "text__file-btn"}
      %button{type: "submit", class:'btn'}   
        Send